.form-container {
  padding: 2rem;
  color: black;
  font-weight: bold;
  font-family: "Kanit", sans-serif !important;
  font-size: 1.3rem;
}
.text-contatti {
  text-align: center;
  font-family: "Kanit", sans-serif !important;
  margin: 2rem 0rem;
  font-weight: bold;
  text-shadow: 2px 3px 4px #189194;
}

@media screen and (max-width: 640px) {
  .form-container {
    font-size: 1rem;
  }
  .text-contatti {
    font-size: 1.5rem;
  }
}
